<div class="navbar--wrapper">
  <%= link_to root_path, class: "logo" do %>
    StartApp
  <% end %>
  <div class="navbar--float-right--container">
    <% if user_signed_in? %>
      <%= link_to "Project", project_path(current_user.project), class: "nav-link" %>
      <%= link_to "Offers", new_offer_path, class: "nav-link" %>

      <%= link_to "Inbox", "#", class: "nav-link" %>
      <%= image_tag "", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <%= link_to "Get started", new_user_registration_path %>
    <% end %>
  </div>
</div>
<style>
  .logo {
    font-weight: 600;
    text-decoration: none;
    color: var(--on-primary);
  }
  .navbar--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
  }
  .navbar--float-right--container {
    display: flex;
    align-items: center;
    gap: 10px
  }
  /* .navbar--float-right--container > :nth-child(2 of .nav-link) {
    margin: 0 10px;
  } */
  .navbar--float-right--container > .nav-link:last-of-type {
    background-color: var(--secondary-container);
    color: var(--on-secondary);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .dropdown-toggle {
    display: none;
  }
</style>
