<h1>Tell us about your project</h1>
<main>
  <%= simple_form_for(@project) do |f| %>
    <div class ="fieldset">
      <h2>Give us a bit of information on your company</h2>
      <%= f.input :name, label: "Company name"  %>
      <%= f.select :industry, collection: Project::INDUSTRY %>
    </div>
    <div class="fieldset">
      <h2>What is your project about</h2>
      <%= f.input :description, as: :text %>
    </div>
    <div class="fieldset">
      <h2>How many developers needed</h2>
      <%= f.input :number_of_developers %>
    </div>
    <div class="fieldset">
      <h2>spoken language</h2>
      <%= f.association :spoken_language, collection: SpokenLanguage.all %>
    </div>
    <div class="fieldset">
      <h2>technologies</h2>
      <%= f.association :technologies, input_html: {multiple: true}, collection: Technology.all %>
    </div>
    <%= f.submit %>
  <% end %>
</main>
