<main class="project-section">
  <div class=" card card-wrapper--main">
    <div class="project-title--container">
      <span class="project-subtitle">Project</span>
      <h1 class="project-title"><%= @project.name %></h1>
    </div>
    <span class="project-subtitle">Description</span>
    <p><%= @project.description %></p>
    <div class="inline-flex">
      <div>
        <span class="project-subtitle">Industry</span>
        <p> <%= @project.industry %></p>
      </div>
      <div>
        <span class="project-subtitle">Needs</span>
        <p class="project--subtext">
          <% @project.technologies.each do |technology| %>
            <%= technology.name %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class=" card card-wrapper--main">
    <div class="">
      <div class="project-title--container">
        <span class="project-subtitle">Recommandations</span>
        <h1 class="project-title">Developer Picks</h1>
      </div>
      <% @project.top_picks.each do |t| %>
        <div class="dev-container">
          <div class="dev-info--container">
            <img src="<%= t.developer_profile.avatar %>" alt="American portrait of developers" class="avatar-img dev-picks--avatar">
            <div class="dev-info--text">
              <h2 class="text--is-primary"><%= t.developer_profile.user.full_name %></h2>
              <p><%= t.developer_profile.description %></p>
            </div>
          </div>
          <div class="dev-profile--btn-container">
            <%= button_to "See profile", developer_path(t.developer_profile), method: :get %>
            <%= button_to "Make an offer", new_developer_offer_path(t.developer_profile), method: :get %>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</main>
<style>
  .project-section {
    padding: 24px;
    padding-top: 100px
  }
  .card-wrapper--main {
    padding: 8px;
    margin-bottom: 12px;
  }
  .project-title--container {
    padding-top: 8px;
    border-bottom: var( --stroke);
    margin-bottom: 24px;
  }

  .project-title {
  font-weight: 600;
  font-size: 40px;
  }
  .project-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--txt-secondary);
  }

  .inline-flex {
    display: flex;
    justify-content: space-between;
  }

  .main-btn.full-w {
    display: block;
    width: 100%;
    text-align: center;
  }
  .dev-container {
    padding: 0 16px;
    margin-bottom: 48px;
  }
  .dev-container:last-of-type {
    margin-bottom: 0;
  }
  .dev-info--container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .dev-picks--avatar {
    width: 80px;
    margin-right: 12px;
  }
  .mb-24px {
    margin-bottom: 24px;
  }

  .dev-profile--btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px
  }
  .dev-profile--btn-container  > * {
    flex-grow: 1;
  }
   .dev-profile--btn-container  > * > * {
    width: 100%;
  }
</style>
