<h1>Offer Statuses</h1>
<div class=" card card-wrapper--main">
  <% @offers.each do |offer|%>
    <div class="offer-title-container">
      <img src="<%= offer.developer_profile.avatar %>" alt="A american portrait of a developer" class="avatar-img mt-20">
      <%= offer.developer_profile.user.full_name %>
      <% offer.developer_profile.technologies.each do |tech| %>
        <%= tech.name %>
        <%= offer.status %>
      <% end %>
    </div>
    <%= link_to "See Profile" ,developer_path(offer.developer_profile)  %>
  <% end %>
</div>
<style></style>
