<main class="offer-wrapper">
  <h1 class="headline-display">Make an offer</h1>
  <div class="card dev-profile--info-wrapper">
    <div class="dev-profile--info-container">
      <div class="gradiented-card-cover">
      </div>
      <img src="<%= @developer_profile.avatar %>" alt="A american portrait of a developer" class="avatar-img mt-20">
      <h2 class="text--is-primary">
        <%= @user.full_name %>
      </h2>
      <span> <%= @developer_profile.description %></span>
    </div>
  </div>
  <div class="card card-wrapper--main">
    <div class="offer-form--container">
      <%# TODO: make sure it sends the form submission to offer %>
      <%= simple_form_for([@developer_profile, @offer], url: developer_offers_path(@developer_profile)) do |f| %>
        <p class = "number-field--label">Number of hours</p>
        <%= f.number_field :Number_of_hours %>
        <p class ="number-field--label">Hourly Rate</p>
        <%= f.number_field :hourly_rate %>
        <%# TODO: Add custom label %>
      </div>
    </div>
    <%= f.submit %>
  <% end %>
</main>
<style>
  .offer-wrapper {
    padding: 0 24px;
    padding-bottom: 24px;
  }
  .offer-wrapper input[type="submit"] {
    border-radius: 8px;
  }
  .number-field--label {
    font-size: 14px;
    font-weight: 450;
    color: #404C00;
    margin-bottom: 8px;
  }
  .number-field--label:last-of-type {
    margin-top: 16px;
  }
</style>
