<main class="offer-wrapper">
  <h1 class="headline-display">Make an offer</h1>
  <div class="card dev-profile--info-wrapper">
    <div class="dev-profile--info-container">
      <div class="gradiented-card-cover">
      </div>
      <img src="<%= @developer_profile.avatar %>" alt="A american portrait of a developer" class="avatar-img mt-20">
      <h2 class="dev-profile--title">
        <%= @user.full_name %>
      </h2>
      <span> <%= @developer_profile.description %></span>
    </div>
  </div>
  <div class="card card-wrapper--main">
    <div class="offer-form--container">
      <h2 class="card-label mb-16">Your offer</h2>
      <%# TODO: make sure it sends the form submission to offer %>
      <%= simple_form_for([@developer_profile, @offer], url: developer_offers_path(@developer_profile)) do |f| %>
        <h3 class = "hours_number">Number of hours</h3>
        <%= f.number_field :Number_of_hours %>
        <h3 class ="hourly_rate">Hourly Rate</h3>
        <%= f.number_field :hourly_rate %>
        <%# TODO: Add custom label %>
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</main>
<style>
  .offer-wrapper {
    padding: 0 24px;
  }
</style>
